{%load static%}
<body>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <script src="{%static 'js/fixdial.js'%}"></script>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
            intent="WELCOME"
            chat-title="DECIMA"
            agent-id="6bb1214d-0537-41f8-a9ee-11d3c3f05ed8"
            language-code="id"
            wait-open="true"
        ></df-messenger>
        <!--style chatbox-->
        <style>
            df-messenger {
            --df-messenger-button-titlebar-color: #30475E;
            --df-messenger-chat-background-color: #4D4C7D;
            }
        </style>
</body>