{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>Helpdesk KPP Pratama Depok Cimanggis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'images/logo_kpp.png'%}" rel="icon">
  <link href="{%static 'images/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'css/aos.css'%}" rel="stylesheet">
  <link href="{%static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet"> 
  <link href="{%static 'css/boxicons/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/glightbox/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'css/swiper-bundle.min.css'%}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
</head>

    <body>
      

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
          <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a>Helpdesk KPP Pratama Depok Cimanggis</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                  <li><a class="nav-link scrollto" href="#about">Tentang Kami</a></li>
                  <li><a class="nav-link scrollto" href="#faq">Frequently Asked Questions</a></li>
                  <li><a class="nav-link scrollto" href="#contact">Hubungi Kami</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->
            </div>
        </header><!-- End Header -->
      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>KPP Pratama Depok Cimanggis</h1>
          <h2>Siap melayani sepenuh hati</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Mulai</a>
      </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tentang Kami</h2>
          <p>Kami merupakan kantor pelayanan cabang di region Jawa Barat, khususnya di Depok Cimanggis. </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Berikut merupakan Kecamatan yang kami layani, antara lain:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Kecamatan Cimanggis</li>
              <li><i class="ri-check-double-line"></i> Kecamatan Tapos</li>
              <li><i class="ri-check-double-line"></i> Kecamatan Cilodong</li>
              <li><i class="ri-check-double-line"></i> Kecamatan Sukmajaya</li>
              <li><i class="ri-check-double-line"></i> Kecamatan Sukmajaya</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Diluar kecamatan yang dicantumkan, harap mengurusnya di kantor pelayanan cabang yang terkait.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  </section><!-- End Counts Section -->

  <!-- ======= About Video Section ======= -->
  <section id="about-video" class="about-video">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
          <img src="{%static 'images/banner_video.png'%}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=AEzNBbzCkAE" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3>Berdiri pada tahun 2015, bersama-sama dengan KPP Pratama Sawangan, sebagai bentuk pemecahan KPP Pratama Depok</h3>
          <p class="fst-italic">
            Tahun 2018 terdata 322.068 Wajib Pajak merupakan yang terbesar ke-3 setalah KPP Pratama Bogor dan KPP Pratama Cibinong. KPP Pratama Depok Cimanggis selalu memberikan pelayanan yang:
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i>Prima</li>
            <li><i class="bx bx-check-double"></i> Efisien</li>
            <li><i class="bx bx-check-double"></i>Tepat Waktu</li>
          </ul>
          <p>
            KPP Pratama Depok Cimanggis berkomitmen untuk bekerja dengan Cerdas, Cermat, Cepat, dan Tepat dalam memberikan pelayanan terbaik kepada seluruh Wajib Pajak.
          </p>
        </div>

      </div>

    </div>
  </section><!-- End About Video Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Berikut merupakan pertanyaan yang sering ditanya kepada kami:</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Apa itu NPWP?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
            <p class="faqpar">
              Berdasarkan PER-04/PJ/2020 Nomor Pokok Wajib Pajak, yang selanjutnya disingkat NPWP, 
              adalah nomor yang diberikan kepada Wajib Pajak sebagai sarana dalam administrasi perpajakan yang dipergunakan
              sebagai tanda pengenal diri atau identitas Wajib Pajak dalam melaksanakan hak dan memenuhi kewajiban perpajakannya.
              <b>
                Pendaftaran NPWP dilakukan secara mandiri oleh Wajib Pajak melalui laman berikut:<a href="https://ereg.pajak.go.id/" target="_blank"> ereg.pajak.go.id</a>
              </b>
              Pada laman tersebut, Wajib Pajak akan diminta untuk terlebih dahulu melakukan pendaftaran menggunakan email. Setelah terdaftar pada laman tersebut, Wajib Pajak dapat melakukan pendaftaran NPWP pada menu Permohonan. Dokumen yang diperlukan untuk mendaftar NPWP adalah sebagai berikut. Setiap Wajib Pajak yang telah memenuhi persyaratan subjektif (berumur 18 tahun atau sudah menikah) dan objektif (memiliki penghasilan) wajib mendaftarkan diri untuk diberikan NPWP. Kategori Wajib Pajak terbagi menjadi: <br>
                <ol>
                  <li>Wajib Pajak Orang Pribadi</li>
                  <li>Wajib Pajak Warisan Belum Terbagi</li>
                  <li>Wajib Pajak Badan</li>
                  <li>Instansi Pemerintah yang ditunjuk sebagai pemotong dan/atau pemungut pajak sesuai ketentuan peraturan perundang-undangan</li>
                </ol>
              <b>
                Fungsi NPWP
              </b>
              NPWP merupakan nomor identitas yang digunakan Wajib Pajak dalam administrasi pelaksanaan hak dan/atau pemenuhan kewajiban perpajakan, berupa administrasi:
                <ol>
                  <li>pembayaran Pajak Penghasilan bagi orang pribadi atau Badan</li>
                  <li>pemotongan atau pemungutan Pajak Penghasilan</li>
                  <li>pemungutan Pajak Pertambahan Nilai</li>
                  <li>embayaran PBB Sektor Perkebunan, PBB SektorPerhutanan, PBB Sektor Pertambangan Minyak dan Gas Bumi, PBB Sektor Pertambangan untuk Pengusahaan Panas Bumi, PBB Sektor Pertambangan Mineral atau Batubara, PBB dan Sektor Lainnya</li>
                  <li>penyetoran Bea Meterai, sesuai dengan ketentuan dalam peraturan perundangundangan di bidang perpajakan</li>
                </ol>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">KAPAN WAKTU PENDAFTARAN NPWP? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p class="faqpar">
              Waktu untuk mendaftarkan diri untuk memperoleh NPWP adalah saat 
              persyaratan subjektif (berumur 18 tahun atau sudah menikah) 
              dan objektif (memiliki penghasilan) terpenuhi.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">BAGAIMANA PENERBITAN NPWP SECARA JABATAN? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p class="faqpar">
              Dalam hal Wajib Pajak tidak melaksanakan kewajiban untuk 
                                                                mendaftarkan diri untuk memperoleh NPWP, Kepala KPP dapat memberikan 
                                                                NPWP secara jabatan berdasarkan hasil pemeriksaan atau penelitian 
                                                                administrasi, dan menyampaikan kartu NPWP dan Surat Keterangan Terdaftar 
                                                                (SKT) kepada Wajib Pajak.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">BAGAIMANA CARA PENGHAPUSAN NPWP? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p class="faqpar">
              <b>
                Penghapusan NPWP dapat dilakukan atas Wajib Pajak yang sudah tidak memenuhi persyaratan subjektif dan/atau objektif sesuai ketentuan peraturan perundang-undangan berdasarkan permohonan Wajib Pajak atau secara jabatan.
              </b>
              <br>
              Penghapusan NPWP dilakukan dalam hal:
              <ol>
                <li>Wajib Pajak orang pribadi yang telah meninggal dunia dan tidak meninggalkan warisan.</li>
                <li>Wajib Pajak orang pribadi yang telah meninggalkan Indonesia untuk selama-lamanya.</li>
                <li>Wajib Pajak orang pribadi yang berstatus sebagai pengurus, komisaris, pemegang saham atau pemilik, dan pegawai yang telah diberikan NPWP dan penghasilan netonya tidak melebihi PTKP.</li>
                <li>Wanita yang sebelumnya telah memiliki NPWP dan menikah tanpa membuat perjanjian pemisahan harta dan penghasilan serta tidak melaksanakan hak dan memenuhi kewajiban perpajakannya terpisah dari suaminya.</li>
                <li>Wanita kawin yang memiliki NPWP berbeda dengan NPWP suami dan pelaksanaan hak dan pemenuhan kewajiban perpajakannya digabungkan dengan suaminya.</li>
                <li>Anak yang belum berumur 18 (delapan belas) tahun dan belum pernah menikah, yang telah memiliki NPWP.</li>
                <li>Wajib Pajak Warisan Belum Terbagi dalam hal warisan telah selesai dibagi.</li>
                <li>Wajib Pajak cabang yang tidak melakukan kegiatan usaha lagi atau ditutup, atau tempat kegiatan usahanya pindah ke wilayah KPP lainnya.</li>
                <li>Wajib Pajak Badan dilikuidasi atau dibubarkan karena penghentian atau penggabungan usaha.</li>
                <li>Wajib Pajak bentuk usaha tetap yang telah menghentikan kegiatan usahanya di Indonesia.</li>
                <li>Instansi Pemerintah yang sudah tidak memenuhi persyaratan sebagai pemotong dan/atau pemungut pajak sesuai dengan ketentuan peraturan perundang-undangan di bidang perpajakan, yang dilikuidasi karena mengalami kondisi sebagai berikut:</li>
                  <ol class="b">
                    <li>Tidak lagi beroperasi sebagai Instansi Pemerintah.</li>
                    <li>Pembubaran Instansi Pemerintah yang disebabkan karena penggabungan Instansi Pemerintah.</li>
                    <li>Tidak mendapat alokasi anggaran pada tahun anggaran berikutnya.</li>
                    <li>Tidak lagi beroperasi yang diakibatkan oleh sebab lain.</li>
                  </ol>
                <li>Wajib Pajak yang memiliki lebih dari 1 (satu) NPWP, tidak termasuk NPWP Cabang; dan/ atau Wajib Pajak yang memiliki NPWP Cabang sebagaimana dimaksud dalam Pasal 4 ayat (1) yang secara nyata tidak lagi.</li>
                  <ol class="b">
                    <li>Mempunyai suatu hak dan/ atau memperoleh manfaat atas bumi atau Mempunyai suatu hak dan/ atau memperoleh manfaat atas bumi atau memiliki, menguasai, dan memperoleh manfaat atas bangunan, berkenaan dengan objek pajak PBB <b>dimaksud dalam Pasal 4 ayat (1)</b></li>
                  </ol>
              </ol>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">SANKSI TERHADAP PENYALAHGUNAAN NPWP? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Setiap orang yang dengan sengaja menyalahgunakan atau menggunakan tanpa hak NPWP atau Pengukuhan Pengusaha Kena Pajak (PKP) sehingga dapat menimbulkan kerugian negara, dipidana penjara paling singkat 6 bulan dan paling lama 6 tahun dan denda paling sedikit dua kali jumlah pajak terutang yang tidak atau kurang dibayar dan paling banyak 4 kali jumlah pajak terutang yang tidak atau kurang dibayar.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">BAGAIMANA PENDAFTARAN NPWP UNTUK ORANG PRIBADI? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
            <p>
             <b>
              Tutorial Pendaftaran NPWP untuk Wajib Pajak Orang Pribadi pada link berikut:
             </b>
             <br>
             <a href="https://www.youtube.com/watch?v=NyAoNVVAnTo" target="_blank">Video Tutorial</a>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="600">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed"> BAGAIMANA PANDUAN CARA LAPOR SPT? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
            <p>
              Berikut link untuk formulir Lapor SPT:
                <ol>
                  <li><a href="https://pajak.go.id/sites/default/files/2019-03/S-KUP-003-17-02-Slide%20Pengisian%20SPT%201770%20SS%202016%20Rev%202017.pdf" target="_blank">SPT Tahunan PPh OP 1770SS</a></li>
                  <li><a href="https://pajak.go.id/sites/default/files/2019-03/S-KUP-004-16-01-Slide%20Pengisian%20SPT%20Tahunan%201770-S%202016%20Rev%202017.ppsx" target="_blank">SPT Tahunan PPh OP 1770S</a></li>
                  <li><a href="https://pajak.go.id/sites/default/files/2019-03/S-KUP-005-16-01-Slide%20Pengisian%20SPT%20Tahunan%202016%20-%20OP%201770%20Pembukuan%20Rev%202017.ppsx" target="_blank">SPT Tahunan PPh OP 1770 Pembukuan</a></li>
                  <li><a href="https://pajak.go.id/sites/default/files/2020-04/SKUP-01%20SPT%201770%20UMKM.pdf" target="_blank">SPT Tahunan PPh OP UMKM</a></li>
                  <li><a href="https://pajak.go.id/sites/default/files/2020-04/SKUP-03%20SPT%201771%20UMKM.pdf" target="_blank">SPT Tahunan PPh Badan UMKM</a></li>
                  <li><a href="https://pajak.go.id/sites/default/files/2019-03/KUP-06%20e-Filing_1.pdf" target="_blank">Cara Pengisian SPT Tahunan dengan e-Filing</a></li>
                  <ol class="b">
                    <li><a href="https://pajak.go.id/sites/default/files/2019-03/KUP-01%20e-Form_Rev.1_1.pdf" target="_blank">SPT Tahunan PPh e-Form</a></li>
                    <li><a href="https://pajak.go.id/sites/default/files/2020-04/SKUP-02%20e-Form%20SPT%201770%20UMKM.pd" target="_blank">SPT Tahunan PPh OP UMKM menggunakan e-Form</a></li>
                  </ol>
                  <li><a href="https://pajak.go.id/sites/default/files/2020-04/SPPH-04%20e-SPT%20Tahunan%20PPh%20Badan%20-%20Rev.1.pdf" target="_blank">Cara Pengisian SPT Tahunan dengan e-SPT</a></li>
                </ol>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="700">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">BATAS WAKTU PELAPORAN SPT<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
            <p>
             <b>
              Batas waktu pelaporan SPT Tahunan
             </b>
             <ol>
               <li>SPT Tahunan PPh Orang Pribadi per tanggal 31 Maret</li>
               <li>SPT Tahunan PPh Badan per tanggal 30 April</li>
             </ol>
             <b>
              Batas Waktu Pelaporan SPT Masa
             </b>
             <ol>
               <li>PPh Pasal 4 ayat (2): Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 15: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 21/26: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 23/26: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 25: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPN & PPnBM: Paling lama akhir bulan berikutnya setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 22: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
               <li>PPh Pasal 22, PPN atau PPN dan PPnBM atas impor yang dipungut oleh DJBC: hari kerja terakhir minggu berikutnya</li>
               <li>PPh Pasal 22 yang dipungut instansi pemerintah: Paling lama 20 (dua puluh) hari setelah Masa Pajak berakhir</li>
             </ol>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="800">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">APA SANKSI BILA TERLAMBAT MELAPORKAN SPT?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
            <p>
              Apabila Surat Pemberitahuan (SPT) tidak disampaikan dalam jangka waktu pelaporan atau batas waktu perpanjangan penyampaian SPT, dikenai sanksi administrasi berupa denda sebesar
              <ol>
                <li>Rp500.000,00 (lima ratus ribu rupiah) untuk SPT Masa Pajak Pertambahan Nilai</li>
                <li>Rp100.000,00 (seratus ribu rupiah) untuk SPT Masa lainnya</li>
                <li>Rp1.000.000,00 (satu juta rupiah) untuk SPT Tahunan Pajak Penghasilan Wajib Pajak badan</li>
                <li>Rp100.000,00 (seratus ribu rupiah) untuk SPT Tahunan Pajak Penghasilan Wajib Pajak orang pribadi</li>
              </ol>
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="900">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">APA ITU EFIN?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
            <p>
              EFIN adalah nomor identitas yang diterbitkan oleh Ditjen Pajak kepada wajib pajak yang melakukan transaksi elektronik perpajakan, seperti lapor SPT melalui e-Filing dan pembuatan kode billing pembayaran pajak. EFIN berlaku seumur hidup dan dapat digunakan oleh wajib pajak untuk registrasi di situs aplikasi DJP Online atau aplikasi M-Pajak.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="900">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">JENIS - JENIS PAJAK PUSAT<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list">
            <p>
              Pajak-pajak pusat yang dikelola oleh Direktorat Jenderal Pajak meliputi:
              <ol>
                <li>
                  <b>Pajak Penghasilan (PPh)</b>
                  PPh adalah pajak yang dikenakan kepada orang pribadi atau badan atas penghasilan yang diterima atau diperoleh dalam suatu Tahun Pajak. Yang dimaksud dengan penghasilan adalah setiap tambahan kemampuan ekonomis yang diterima atau diperoleh Wajib Pajak baik yang berasal baik dari Indonesia maupun dari luar Indonesia yang dapat dipakai untuk konsumsi atau untuk menambah kekayaan Wajib Pajak yang bersangkutan dengan nama dan dalam bentuk apapun. Dengan demikian maka penghasilan itu dapat berupa keuntungan usaha, gaji, honorarium, hadiah, dan lain sebagainya.
                </li>
                <li>
                  <b>Pajak Pertambahan Nilai (PPN)</b>
                  PPN adalah pajak yang dikenakan atas konsumsi Barang Kena Pajak atau Jasa Kena Pajak di dalam Daerah Pabean (dalam wilayah Indonesia). Orang Pribadi, perusahaan, maupun pemerintah yang mengkonsumsi Barang Kena Pajak atau Jasa Kena Pajak dikenakan PPN. Pada dasarnya, setiap barang dan jasa adalah Barang Kena Pajak atau Jasa Kena Pajak, kecuali ditentukan lain oleh Undang-undang PPN.
                </li>
                <li>
                  <b>Pajak Penjualan atas Barang Mewah (PPnBM)</b>
                  Selain dikenakan PPN, atas pengkonsumsian Barang KenaPajak tertentu yang tergolong mewah, juga dikenakan PPnBM. Yang dimaksud dengan Barang Kena Pajak yang tergolong mewah adalah: Barang tersebut bukan merupakan barang kebutuhan pokok; atau Barang tersebut dikonsumsi oleh masyarakat tertentu; atau pada umumnya barang tersebut dikonsumsi oleh masyarakat berpenghasilan tinggi; atau Barang tersebut dikonsumsi untuk menunjukkan status; atau Apabila dikonsumsi dapat merusak kesehatan dan moral masyarakat, serta mengganggu ketertiban masyarakat
                </li>
                <li>
                  <b>Bea Meterai</b>
                  Bea Meterai adalah pajak yang dikenakan atas pemanfaatan dokumen, seperti surat perjanjian, akta notaris, serta kwitansi pembayaran, surat berharga, dan efek, yang memuat jumlah uang atau nominal diatas jumlah tertentu sesuai dengan ketentuan.
                </li>
                <li>
                  <b>Pajak Bumi dan Bangunan (PBB) tertentu</b>
                  PBB adalah pajak yang dikenakan atas kepemilikan atau pemanfaatan tanah dan atau bangunan. PBB merupakan Pajak Pusat namun demikian hampir seluruh realisasi penerimaan PBB diserahkan kepada Pemerintah Daerah baik Propinsi maupun Kabupaten/Kota
                </li>
              </ol>
              <b>Mulai 1 januari 2014, PBB pedesaan dan Perkotaan merupakan pajak daerah. Untuk PBB Perkebunan, Perhutanan, Pertambangan masih tetap merupakan Pajak Pusat.</b>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section><!-- End Frequently Asked Questions Section -->

 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>
      <p>Berikut merupakan kontak kami dan alamat Kantor Pelayanan Pajak Depok Cimanggis</p>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.930594741274!2d106.81982231423873!3d-6.402943764403499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e95a6aaaaaab%3A0x464bfa118de7e74!2sKPP%20Pratama%20Depok%20Cimanggis!5e0!3m2!1sen!2sid!4v1653894726229!5m2!1sen!2sid" frameborder="0" allowfullscreen></iframe>
    </div>
  
    <div class="row mt-5">
      <div class="col-lg-5">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Lokasi:</h4>
            <p>Jl. Pemuda No.40, Depok, Kec. Pancoran Mas, Kota Depok, Jawa Barat 16431</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Nomor Telpon:</h4>
            <p>021 7763896</p>
          </div>
         
          <div class="chatbot">
            <i class="bi bi-chat"></i>
            <h4>Helpdesk Online</h4>
            <p>
              <a href="{%url 'chat'%}"> Akses disini</a>
              atau tekan tombol di pojok kiri bawah
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Contact Section -->



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Helpdesk KPP Pratama Depok Cimanggis</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by KPP Pratama Depok Cimanggis</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/pajakdepokcmg" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/pajakdepokcmg.page/?ref=page_internal" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/pajakdepokcmg/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UC8FZv6XUfGTUHnZXeEAByYg" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->



    <!-- Vendor JS Files -->
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/bootstrap/bootstrap.bundle.js'%}"></script>
  <script src="{%static 'js/glightbox/glightbox.min.js'%}"></script>
  <script src="{%static 'js/isotop/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'js/swiper-bundle.min.js'%}"></script>
  
    <!-- Template Main JS File -->
  <script src="{%static 'js/main.js'%}"></script>
  <script src="{%static 'js/fixdial.js'%}"></script>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger
        intent="WELCOME"
        chat-title="Helpdesk Online"
        agent-id="8d8ee27d-0dc3-4653-be0b-5780e5cfd444"
        language-code="id"
        wait-open="true"
        chat-icon="https://img.icons8.com/dusk/64/undefined/technical-support.png"
      ></df-messenger>
      <!--style chatbox-->
      <style>
        df-messenger {
          --df-messenger-button-titlebar-color: #30475E;
         --df-messenger-chat-background-color: #4D4C7D;
        }
      </style>
</body>
</html>